.container {
  position: relative;
  width: 450px;
  height: 600px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.input {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  border-radius: 6px;
}

.textarea {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  margin: 8px 0;
}

.select {
  padding: 8px;
  border-radius: 6px;
  margin: 8px 0;
}

.btn {
  padding: 5px;
  border-radius: 6px;
  cursor: pointer;
}

.disconnect {
  background-color: #f44336;
  color: #fff;
}

.button-group {
  display: flex;
  gap: 10px;
  /* margin: 10px 0; */
}

.info {
  margin-top: 10px;
}

.todo_container {
  margin-top: 20px;
}

.modal-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(6px);
  background-color: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  width: 90%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* .todo-list {
  margin-top: 100px;
  width: 100%;
  min-height: 200px;
  overflow-y: auto;
} */

.todo-item {
  padding: 10px;
  border-bottom: 1px solid #000;
}

/* apps style */



/* .apps-container {
  width: 90%;
  max-width: 90%;
  min-height: 100px;
  padding: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  gap: 40px;
}

.app-box {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
} */

.general-appbox {
  width: 100%;
  max-width: 100%;
  height: 90%;
  min-height: 100px;
  /* max-height: 300px; */
  /* max-height: 400px; */
  /* padding: 5px; */
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 4 items per row */
  
  border: 1px solid black;

}
/* .apps-container {
  width: 90%;
  max-width: 90%;
  min-height: 100px;
  
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 25px;
  border: 1px solid black;
} */

.apps-container {
  min-height: 20%;
  width: 100%;
  height: auto;
  border: 1px dashed black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* padding: 10px; */
}

.app-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  height: 100px; /* optional */
}
.more-apps {
  width: 100%;
  text-align: end;
}

.app-image {
  width: 35px;
  height: 35px;
}

.app-title {
  font-weight: bold;
}

.Myapps-link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  font-weight: bold;
}



