@import "tailwindcss";

html, body {
  
     width: 450px;
    height: 600px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;

    /* Creative wavy gradient */
    background: linear-gradient(to bottom, #667eea, #764ba2);
    background-size: 100% 200%;
    animation: gradientWave 8s ease infinite;
}

/* Root container */
#root {
    /* width: 450px;
    height: 600px; */
      width: 100%;
    height: 100%;
    /* border: 3px solid red; */
    /* background: linear-gradient(to bottom, #6c63ff, #7b4bd9); */
    background: linear-gradient(to bottom, #f5f5ff, #e8e0f8);
}



/* Gradient animation keyframes */
@keyframes gradientWave {
    0% { background-position: 0% 0%; }
    50% { background-position: 0% 100%; }
    100% { background-position: 0% 0%; }
}